openapi: 3.0.1
info:
  title: Abbleitura API
  description: API para plataforma de livros e leitura multilíngue
  version: 1.0.0
  contact:
    name: Abbleitura Support
    email: support@abbleitura.com
  license:
    name: MIT

servers:
  - url: https://api.abbleitura.com
    description: Production
  - url: http://localhost:3000
    description: Development

paths:
  /api/auth/register:
    post:
      summary: Registrar novo usuário
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: João Silva
                email:
                  type: string
                  format: email
                  example: joao@example.com
                password:
                  type: string
                  format: password
                  example: SecurePassword123!
              required:
                - name
                - email
                - password
      responses:
        '201':
          description: Usuário registrado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Dados inválidos
        '409':
          description: Email já existe

  /api/auth/login:
    post:
      summary: Fazer login
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Credenciais inválidas

  /api/auth/logout:
    post:
      summary: Fazer logout
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout bem-sucedido
        '401':
          description: Não autenticado

  /api/users/me:
    get:
      summary: Obter perfil do usuário atual
      tags:
        - Users
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Perfil do usuário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Não autenticado

    put:
      summary: Atualizar perfil do usuário
      tags:
        - Users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                locale:
                  type: string
                theme:
                  type: string
                  enum: [light, dark]
      responses:
        '200':
          description: Perfil atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/books:
    get:
      summary: Listar livros
      tags:
        - Books
      parameters:
        - name: locale
          in: query
          schema:
            type: string
            default: pt-BR
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 12
        - name: genre
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de livros
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Book'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer

  /api/books/{id}:
    get:
      summary: Obter detalhes de um livro
      tags:
        - Books
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: locale
          in: query
          schema:
            type: string
            default: pt-BR
      responses:
        '200':
          description: Detalhes do livro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '404':
          description: Livro não encontrado

  /api/books/{id}/like:
    post:
      summary: Curtir um livro
      tags:
        - Books
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Livro curtido
        '401':
          description: Não autenticado
        '404':
          description: Livro não encontrado

  /api/books/{id}/favorite:
    post:
      summary: Adicionar livro aos favoritos
      tags:
        - Books
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Livro adicionado aos favoritos
        '401':
          description: Não autenticado

  /api/downloads/presigned:
    post:
      summary: Gerar URL presigned para download
      tags:
        - Downloads
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bookId:
                  type: string
                format:
                  type: string
                  enum: [pdf, epub, mobi]
              required:
                - bookId
                - format
      responses:
        '200':
          description: URL presigned gerada
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '401':
          description: Não autenticado
        '403':
          description: Sem permissão para download
        '429':
          description: Limite de downloads excedido

  /api/comments:
    get:
      summary: Listar comentários
      tags:
        - Comments
      parameters:
        - name: bookId
          in: query
          schema:
            type: string
        - name: locale
          in: query
          schema:
            type: string
            default: pt-BR
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Lista de comentários
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
                  total:
                    type: integer

    post:
      summary: Criar novo comentário
      tags:
        - Comments
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bookId:
                  type: string
                text:
                  type: string
              required:
                - bookId
                - text
      responses:
        '201':
          description: Comentário criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          description: Não autenticado

  /api/comments/{id}:
    put:
      summary: Atualizar comentário
      tags:
        - Comments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
      responses:
        '200':
          description: Comentário atualizado
        '401':
          description: Não autenticado
        '403':
          description: Sem permissão

    delete:
      summary: Deletar comentário
      tags:
        - Comments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Comentário deletado
        '401':
          description: Não autenticado

  /api/admin/books:
    post:
      summary: Criar novo livro (Admin)
      tags:
        - Admin
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookInput'
      responses:
        '201':
          description: Livro criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
        '401':
          description: Não autenticado
        '403':
          description: Sem permissão de admin

  /api/admin/books/{id}:
    put:
      summary: Atualizar livro (Admin)
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookInput'
      responses:
        '200':
          description: Livro atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'

    delete:
      summary: Deletar livro (Admin)
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Livro deletado

  /api/admin/comments/{id}/approve:
    put:
      summary: Aprovar comentário (Admin)
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Comentário aprovado

  /api/admin/comments/{id}/reject:
    put:
      summary: Rejeitar comentário (Admin)
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Comentário rejeitado

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [user, admin]
        locale:
          type: string
        theme:
          type: string
          enum: [light, dark]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Book:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: object
          additionalProperties:
            type: string
        synopsis:
          type: object
          additionalProperties:
            type: string
        isbn:
          type: string
        metadata:
          type: object
        tags:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        likes:
          type: integer
        favorites:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    BookInput:
      type: object
      properties:
        title:
          type: object
          additionalProperties:
            type: string
        synopsis:
          type: object
          additionalProperties:
            type: string
        isbn:
          type: string
        metadata:
          type: object
        tags:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
      required:
        - title
        - synopsis

    Comment:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        language:
          type: string
        status:
          type: string
          enum: [pending, published, rejected]
        user:
          $ref: '#/components/schemas/User'
        book:
          $ref: '#/components/schemas/Book'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
